<div class="login-body">
  <div class="signup-form">
    <div class="login">Sign up</div>
    <div class="signup-box">
    <div class="signup-left">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

        <div class="login-field">
          <%= f.label :nickname, class:"login-el" %><br />
          <%= f.text_field :nickname, class:"signup-input" %>
        </div>
        <div class="login-field">
          <%= f.label :name, class:"login-el"  %><br />
          <%= f.text_field :name, class:"signup-input" %>
        </div>
        <div class="login-field">
          <%= f.label :surname, class:"login-el" %><br />
          <%= f.text_field :surname, class:"signup-input" %>
        </div>
        <div class="login-field">
          <%= f.label :birthday, class:"login-el" %><br />
          <%= f.date_field :birthday, class:"signup-input" %>
        </div>
    </div>
    <div class="vertical-line"></div>
    <div class="signup-right">
        <div class="login-field">
            <%= f.label :email, class:"login-el" %><br />
            <%= f.email_field :email, class:"input-default signup-input", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
        </div>
        <div class="login-field">
          <%= f.label :password, class:"login-el" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class:"signup-input" %>
        </div>

        <div class="login-field">
          <%= f.label :password_confirmation, class:"login-el" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"signup-input" %>
        </div>

        <div class="signup-actions login-field">
          <%= f.submit "Sign up", class:"login-submit signup-btn" %>
          <a class="small-text">　すでにアカウント　<br>　お持ちなら　</a>
          <div class="login-submit"><%= render "devise/shared/links" %></div>
        </div>
        <%= render "devise/shared/error_messages", resource: resource %>
    <% end %>
    </div>
  </div>
  </div>
</div>
