<div class="recipe">


  <div class="recipe-top">
    <div class="recipe-header">
      <% if user_signed_in? %>
        <% if recipe.user == current_user %>
          <div class="edit">
            <%=link_to (image_tag 'pencil.png', class:"pencil hide"), edit_recipe_path(recipe.id), method: :get %>
          </div>
        <% end %>
      <% end %>

      <div class="index-recipe-name">
        <div  class="name-link"><%= recipe.name %></div>
        <% link_to recipe.name, recipe_path(recipe.id), class:"name-link" %>
      </div>
      <% if user_signed_in? %>
        <% if recipe.user == current_user %>
          <div class="delete">
            <%= link_to (image_tag 'trash.png', class:"trash hide"), recipe_path(recipe.id), method: :delete %>
          </div>
        <% end %>
      <% end %>
    </div>
     <%= link_to recipe_path(recipe.id), method: :get  do %>
    <div class="recipe-image-box">
      <%= image_tag recipe.image, class: 'recipe-image' if recipe.image.attached? %>
    </div>
    <% end %>
  </div>


  <div class="about-recipe">
    <div class="recipe_portion about-el"><%= recipe.portions %>人分</div>
    <div class="time about-el"><%= recipe.time_count.name%>分</div>
    <div class="recipe-calories about-el"><%= recipe.calories %>kcal</div>
  </div>
  <div class="recipe-content">
     <div class="ingredients">
      材料：
      <ul class="list">
        <% recipe.ingredients.each do |i|%>
          <%= i.i_name %>
        <% end %>
      </ul>
    </div>
    <%# <div class="tags">
      <a href="" class="tag">drink</a>
      <a href="" class="tag">salad</a>
    </div>
  </div>
  <div class="social">
    <div class="like">like!
    </div>
    <div class="to-favourite">
      added!
    </div> %>
  </div>

</div>