<div class="calendar-body">
  <div class="cal-top">
    <h2 class="cal-top-el cal-month"><span><%= @month %></span>月</h2>
    <div class="week-field">
      <h2 class="cal-top-el">今週：<%= @month %>月<%= @day %>日ー<%= @month %>月<%= @day + 6 %>日</h2>
    </div>
    <div class="new-card">
      レシピカードを登録する
    </div>
    <div class="destroy-all">
      <%= link_to "全てをクリアする", destroy_all_calendars_path, method: :delete %>
    </div>
  </div>
  <div class="cal-week">
    <div class="wday sun">
      <div class="wday-name">
        <div class="wday-weekday"><%= @wdays[@i]%></div>
        <div class="wday-date"><%= @day %>日</div>
      </div>
      <div class="wday-content">
        <% if @calendars %>
          <% @calendars.each do |calendar| %>
            <% if calendar.day_id == 1 %>
              <%= render partial: "calendar", locals: {calendar: calendar }%>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="wday mon">
      <div class="wday-name">
        <div class="wday-weekday"><%= @wdays[@i + 1]%></div>
        <div class="wday-date"><%= @day + 1 %>日</div>
      </div>
      <div class="wday-content">
        <% if @calendars %>
          <% @calendars.each do |calendar| %>
            <% if calendar.day_id == 2 %>
              <%= render partial: "calendar", locals: {calendar: calendar }%>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="wday tue">
      <div class="wday-name">
        <div class="wday-weekday"><%= @wdays[@i + 2]%></div>
        <div class="wday-date"><%= @day + 2%>日</div>
      </div>
      <div class="wday-content">
        <% if @calendars %>
          <% @calendars.each do |calendar| %>
            <% if calendar.day_id == 3 %>
              <%= render partial: "calendar", locals: {calendar: calendar }%>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="wday wen">
      <div class="wday-name">
        <div class="wday-weekday"><%= @wdays[@i + 3]%></div>
        <div class="wday-date"><%= @day + 3 %>日</div>
      </div>
      <div class="wday-content">
        <% if @calendars %>
          <% @calendars.each do |calendar| %>
            <% if calendar.day_id == 4 %>
              <%= render partial: "calendar", locals: {calendar: calendar }%>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="wday thu">
      <div class="wday-name">
        <div class="wday-weekday"><%= @wdays[@i + 4]%></div>
        <div class="wday-date"><%= @day + 4 %>日</div>
      </div>
      <div class="wday-content">
        <% if @calendars %>
          <% @calendars.each do |calendar| %>
            <% if calendar.day_id == 5 %>
              <%= render partial: "calendar", locals: {calendar: calendar }%>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="wday fri">
      <div class="wday-name">
        <div class="wday-weekday"><%= @wdays[@i + 5]%></div>
        <div class="wday-date"><%= @day + 5%>日</div>
      </div>
      <div class="wday-content">
        <% if @calendars %>
          <% @calendars.each do |calendar| %>
            <% if calendar.day_id == 6 %>
              <%= render partial: "calendar", locals: {calendar: calendar }%>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="wday sat">
      <div class="wday-name">
        <div class="wday-weekday"><%= @wdays[@i + 6]%></div>
        <div class="wday-date"><%= @day + 6 %>日</div>
      </div>
      <div class="wday-content">
        <% if @calendars %>
          <% @calendars.each do |calendar| %>
            <% if calendar.day_id == 7 %>
              <%= render partial: "calendar", locals: {calendar: calendar }%>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="model-wrapper">
  <div class="modal hide">
      <div class="modal-close">x</div>
      <div class="modal-content">

      <%= form_with(model: @calendar, url: calendars_path, local: true) do |form| %>
        <%= render 'shared/error_messages', model: @calendar %>
        <%= form.collection_select(:day_id, Day.all, :id, :name, {}, {class:"modal-search"}) %>
        <%= form.text_field :recipe_id, placeholder: "レシピを検索する", class: "modal-search" %>
        <div id="search-result"></div>
        <%= form.submit 'カレンダーへ追加する', class:"cal-search-btn" %>
  <% end %>
    </div>
      </div>
  </div>
</div>

