<div class="login-body">
  <div class="login-form">
    <h2 class="login">ログイン</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="login-field">
        <%= f.label :email, class:"login-el"%><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"login-input"%>
      </div>

      <div class="login-field">
        <%= f.label :パスワード, class:"login-el" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class:"login-input"%>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="login-field">
          <%= f.check_box :remember_me , class:"login-check" %>
          <%= f.label :パスワードをお忘れですか？, class:"login-el" %>
        </div>
      <% end %>

      <div class="login-field">
        <%= f.submit "Log in", class:"login-submit"%>
      </div>
    <% end %>

    <div class="login-field">
      <div class="line"></div>
      <%= render "devise/shared/links" %>
    </div>

  </div>
</div>
