<div class="list-body">
  <div class="list-header">
    <p>Shopping List</p>
  </div>
  <div class="items-list">
    <% if @calendars && @calendars.length != 0 %>
      <% @calendars.each do |calendar| %>
        <% calendar.recipe.recipe_ingredient_relations.each do |rir| %>
        <% @measurement = Measurement.find(rir.measurement_id) %>

        <div class="item">
          <div class="check">
            <%= check_box_tag 'bought', 'no', false, class: "box" %>
          </div>
          <div class="item-name"><%= rir.ingredient.i_name %></div>
          <div class="how-much"><%= rir.quantity %></div>
          <div class="item-quantity"><%= @measurement.name %></div>
        </div>
        <% end %>
      <% end %>
    <% else %>
      <div class="item">
        カレンダーでレシピをカードを作ると、
      </div>
      <div class="item">
       ここにショッピングリストが自動的に作成されます〜
      </div>
    <% end %>
    <div class="others-list">
      <% if@items &&  @items.length != 0 %>
        <div class="destroy-wrapper">
          <div class="destroy-btn">
          <%= link_to '全てをクリア', destroy_all_items_path, method: :delete %>
         </div>
        </div>
        <div class="itemsline"></div>
        <% @items.each do |item| %>
          <div class="item">
            <div class="check">
              <%= check_box_tag 'bought', 'no', false, class: "box" %>
            </div>
            <div class="item-name"><%= item.name %></div>
            <div class="how-much"><%= item.quantity %></div>
            <div class="delete">
              <div class="inner">
                <%= link_to (image_tag 'trash.png' , class:"trash"), item_path(item.id), method: :delete %>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
      <div class="itemsline"></div>
      <div class="item">
        ここでレシピ以外に必要な買い物をリストに追加できます〜
      </div>
      <% end %>
    </div>
    <div class="items-form">
      <%= form_with(model: @item, url: "/items", method: :post, local: true) do |form| %>
        <%= render 'shared/error_messages', model: @item %>
        <%= form.text_area :name, class: "other-name", placeholder: "買い物名", maxlength: "40" %>
        <%= form.text_area :quantity, class: "other-quantity", placeholder: "買い物口数、任意", maxlength: "15" %>
        <%= form.submit '追加', id: "item-submit" %>
      <% end %>
    </div>
    </div>
  </div>
</div>