<!DOCTYPE html>
<html>
  <head>
    <title>LazyCooking</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="logo">
        <%= link_to "Lazy Cooking", root_path,  class: "logo" %>
      </div>
      <form action="#" class="search-form">
        <input type="text" class="input-box" placeholder="レシピ名か材料で検索">
        <button class="search-button">検索</button>
      </form>
      <div class="menu">
        <% if user_signed_in? %>
        <div class="photo-name menu-element">
          <% if current_user.image.attached? %>
            <h3 class="userphoto"><%= image_tag current_user.image%></h3>
          <% else %>
            <h3><%= link_to image_tag("user-photo.png", class:"userphoto") %></h3>
          <% end %>
          <h2 class="menu-element"><%= current_user.nickname %></h2>
          </div>
        <% else %>
          <%= link_to 'ログイン', user_session_path, method: :get, class:"menu-element" %>
        <% end %>
        <% if user_signed_in? %>
        <div class="menu-element settings">
          <div class="settings-title">設定</div>
          <ul class="settings-menu hide">
            <li class="settings-menu-el">
              <%= link_to 'プロフィル編集', edit_user_registration_path(current_user.id), method: :get %>
            </li>
            <li class="settings-menu-el">
              <%= link_to 'ログアウト', destroy_user_session_path(current_user.id), method: :delete %>
            </li>
          </ul>
        </div>
        <% end %>
      </div>
    </header>
    <% if flash[:notice] %>
      <div id="notice"><%= flash[:notice] %> </div>
    <% end %>
    <%= yield %>
  </body>
  <footer>
      <div class="footer-menu">
        <h3 class="menu-element">Lazy Cookingについて</h3>
        <h3 class="menu-element">アプリのダウンロードはAppstoreまたGoogle Play</h3>
        <h3 class="menu-element">アプリについてのアイディアを教えて！</h3>
      </div>
      <h3 class="copyright">Copyright(C) cafelatte.here 2020</h3>
  </footer>
</html>
